/*
canvas {
    position:absolute;
    top:80px;
    cursor:crosshair;
}

body {
     margin:0;
     border: none;
     padding: 0;
 }

section {
    position: relative;
    left: 100px;
}
*/


html, body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", Arial;
    background-color: white;
}

p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}
li {
    margin-bottom: 5px;
    display: block;
}
header {
    width: 100%;
    height: 120px;
}

.logoHoldeR {
    width: 300px;
    height: 140px;
    float: left;
    margin-left: 50px;
}

button {
    width: 150px;
}

canvas {
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.cenas {
    width: 85px;
    transition: .5s;
}

.cenas2 {
    width: 150px;
    transition: .5s;
}
.menuHolder {
    float: left;
}

.textSubmit {
    width: 50px;
    opacity: 0;
    transition: .4s;
}
.textSubmitOn {
    opacity: 1;
    transition: .8s;
}

#imagePosition {
    float: right;
    width: 100%;
    max-width: 970px;
    height: 120px;
    margin-top: 15px;
    margin-right: 8%;
    border: 1px solid black;
    overflow: auto;
    white-space: nowrap;
}

.imgToInsert {
    float: left;
    width: 100px;
    height: 110px;
    margin-top: 5px;
    margin-left: 5px;
    background: aqua;
}