/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/out/2018, 13:12:49
    Author     : jorge
*/

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.jpg);
    background-color: black;
    color: white;
    font-family: "Calibri", Arial;
    min-width: 500px;
}
img {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
h1,h2, p {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    text-align: center;
}
header > h1 {
    padding-top: 25px; 
}

#holder {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.container {
    width: 90%;
    height: 100%;
    max-width: 1400px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    min-height: 400px;
    height: 100%;
    background-color: brown;
    padding: 15px 15px;
    border-radius: 25px;
    box-shadow:  50px 20px 50px black;
}
.pane {
    width: 100%;
    max-width: 1370px;
    min-height: 400px;
    height: 100%;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    -moz-box-shadow: inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0  10px black;
    box-shadow: inset 0 0 10px black;
}
#game > h2 {
    font-size: 1rem;
    padding-top: 15px
}
.buttons {
    padding-top: 15px;
    padding-bottom: 60px;
}
/*.resultHolder {
    height: 110px;
}*/
#result {
    font-size: 3rem;
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 130px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: black;
    color:black;
}
.flip-card-back {
    background-color: cyan;
    transform: rotateY(180deg);
}